<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/style.css")" />
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/images/favicon.ico")" />
    <title>Blue Minimal</title>
</head>
<body>

    <div id="wrap">


        <div id="header">
            <h1><a href="#">Blue Minimal</a></h1>
            <h2>Your Mini Site Slogan Goes Here</h2>
        </div>

        @RenderBody()

        <div id="footer">
            <div class="footerleft"><a href="#">Privacy Policy</a> | <a href="#">Copyright</a></div>
            <div class="footerright"><a href="http://yoctotemplates.com/mini-site-templates/blue-minimal/">Blue Minimal</a> | Design by <a href="http://www.yoctotemplates.com">Yocto Templates</a></div>
            <div style="clear: both;"></div>
        </div>

        <div id="copyrightarea">
            All Right Reserved, Copyright &copy; YOUR MINI SITE.
        </div>

        <div id="bottom"></div>

    </div>

</body>
</html>
