@model List<LinqToTwitter.Status>

@{
    ViewBag.Title = "Index";
}


<div id="content">
    <ul>
        @foreach (var item in Model)
        {
            @Html.Partial("Tweet", item)
        }
    </ul>
</div>
