@model web.Models.TwtList

@{
    var lasdjf = "";
}

    <div>
        <ul data-role="listview" data-inset="true">
            
        @foreach (var twt in Model.Twts)
        {
            <li data-role="list-divider">@Html.Partial("_MainTweet", twt)</li>
                
        }

        </ul>
    </div>
