@model List<LinqToTwitter.Status>

@{
    ViewBag.Title = "Index";
}


<div id="content">
    
    @foreach (var item in Model)
    {
         @Html.Partial("Tweet", item)
    }

</div>
