* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.4;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #7C7C7C;

}

a {
    color: #2068AF;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

h1, h2, h3, h4, h5 {
    font-family: 'Architects Daughter', arial, serif;
    margin: 5px 0 20px 0;
    font-weight: 100;
}

h1 {
    font-size: 29px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 19px;
}

ul {
    margin: 0 0 20px 30px;
    list-style-type: square;
}

ol {
    margin: 0 0 20px 30px;
    list-style-type: decimal;
}

blockquote {
    background: #eee;
    border-left: 5px solid #bcbcbc;
    padding: 10px;
    margin: 0 0 20px 0;
}

    blockquote p {
        margin: 0;
        padding: 0;
    }

p {
    padding: 0 0 20px 0;
}

table {
    margin: 0 0 20px 0;
    text-align: left;
    width: 100%;
}

td, th {
    padding: 5px;
    border: 1px solid #ddd;
}

th {
    color: #515151;
}

#wrap {
    width: 100%;
}

#header {
    height: 110px;
    background: url(images/header.jpg);
    background-size: auto 100%;
}

    #header h1 {
        font-family: 'Anton', arial, serif;
        margin: 0;
        padding: 20px 0 0 50px;
        font-weight: 100;
        font-size: 35px;
        border: none;
        line-height: 1;
    }

        #header h1 a {
            text-decoration: none;
            color: #fff;
        }

            #header h1 a:hover {
                text-decoration: none;
            }

    #header h2 {
        border: none;
        font-family: 'Architects Daughter', arial, serif;
        margin: 0;
        padding: 0 0 0 50px;
        color: #fff;
        font-weight: 100;
        font-size: 17px;
    }

#content {
    padding: 10px 40px 20px 40px;
    margin: auto 10px;
    background: #FFFFFF;
}

#footer {
    background-color: #4C9EF2;
    margin: auto 10px;
    padding: 0 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-color: white;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 20px;
}

    #footer p {
        padding: 0;
        margin: 0;
    }

    #footer a {
        color: #fff;
    }

        #footer a:hover {
            border-bottom: 1px dotted #fff;
            text-decoration: none;
        }

.footerleft {
    float: left;
}

.footerright {
    float: right;
}

#copyrightarea {
    color: #515151;
    background-color: #fff;
    margin: auto 10px;
    text-align: right;
    font-size: 11px;
    padding: 0 30px;
    height: 20px;
    line-height: 20px;
}

#bottom {
    background: url(images/bottom.jpg) no-repeat;
    padding: 5px 0;
}

.home-image {
    float: left;
}

.home-username {
    float: left;
    margin: 0 0 0 5px;
    font-size: 20px;
}